.dashboard-table {
  td {
    font-size: 0.8em;
  }

  th {
    font-size: 0.6em;
    white-space: nowrap;
    color: gray;
  }

  .item_name {
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background-color: pink;
    }
  }

  .blank_row {
    background-color: silver;
  }

  .table_point_50 {
    text-align: right;
    cursor: pointer;
    &:hover {
      background-color: pink;
    }
  }

  .table_buffered {
    text-align: right;
    color: blue;
  }

  .project {
    color: #B94A48;
    background-color: #F2DEDE;
  }
  .large_item {
    color: #3A87AD;
    background-color: #D9EDF7;
  }

  .medium_item {
    color: #C09853;
    background-color: #FCF8E3;
  }

  .subtotal {
    text-align: right;
    font-weight: bold;
  }

  .point {
    text-align: right;
  }
}
